*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #ADD8E6;
    padding: 10px;
    
}

.header-box{
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    padding: 8px 4px;
    background-color: #DAA520;
}

.logo{
    width: 20%;
    border-right: 2px dashed black;
}

.header-link{
    width: 60%;
    text-align: center;
    
}

.login{
    width: 20%;
    text-align: right;
    border-left: 2px dashed black;
}

.hero{
    background-color: #00008B;
    padding: 35px;
}

.hero-img{
    background-color: #EE82EE;
    max-width: 700px;
    height: 400px;
    margin: 0 auto;
}

.main-section{
    padding: 35px;
    
}

.main-container{
    max-width: 1180px;
    display: flex;
    margin: 0 auto;;
}

.first{
    background-color: #FFFFFF;
}

.second{
    background-color: #D3D3D3;
}

.light-blue{
    background-color: #1E90FF;
    width: 60%;
    height: 400px;
    margin: 0 auto;
}

.light-pink{
    background-color: #FFC0CB;
    width: 40%;
    height: 400px;
}

.green{
    background-color: #228B22;
    height: 800px; 
}

/*---------------
    DEBUG
---------------*/

.container{
    border: 2px dashed black;
}